doctype 5
!!! 5
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet', href='http://bootswatch.com/journal/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='http://code.jquery.com/jquery.js')
    style
      body {
        padding-top: 0px; /* 60px to make the container go all the way to the bottom of the topbar */
      }

  body
   .navbar
    .navbar-inner
        .container(style='width: auto;')
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') MakeIt-BreakIt
          .nav-collapse
            form.navbar-search.pull-left(action='')
              input.search-query.span2(type='text', placeholder='Search')
            ul.nav.pull-right
              li
                a(href='#') Profile
          //
             /.nav-collapse 
      //
         /navbar-inner 

   
    block content