extends layout


block content
  h1= title
  p Welcome to #{title}
  div(style='float:left;')
    button#camera-me 1. Turn on camera
    h4
      code getUserMedia()
      | feed
    video(autoplay='autoplay')
  div(id='video-preview')
    button(id='record-me', disabled='disabled')
      | 2. Record
    button(id='stop-me', diasbled='disabled') ◼
    //
      <button id="play-me" disabled>►</button>
    span(id='elapsed-time')
    h4
      .webm recording (no audio)

