body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
  font-weight:bold;
}

P { 
	text-align: center; 
	font-size:180%
}

#addTo{
    width:350px;
    margin-left:auto;
    margin-right:auto;
    font-size:130%;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

iframe{
    display:inline-block;
    vertical-align: top;
    padding-left: 30px;
}

#mturkWrapper{
    width: 80%;
    margin-left:auto;
}

h4 {
	margin-left: auto;
    margin-right: auto;
    width: 20em
}

a.btn.btn-warning.btn-large{
    text-align:center;
    left:36%;
    position:relative
}

a.btn.btn-success.btn-large{
    text-align:center;
    left:36%;
    position:relative
}

a.btn.btn-primary {
	text-align:right;
    left:70%;
    position:relative;
	margin: 0 auto

}

button.btn.btn-danger{
    text-align:right;
    position:relative;
    margin: 0 auto

}

#group_info{
    width:50%;
    min-width: 400px;
    display: inline-block;
    vertical-align: top;
}

#new_bet {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;

button{
    font-size:130%;
    font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
    font-weight:bold;
}